@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

img {
    max-width: 47%;
    max-height: 70%;
    margin: 10px;
}

a {
    text-decoration: none;
    color: #beedff;
}

body {
    color: white;
    background-color: #0075FF;
    text-align: center;
    background-image: url(src/photo.jpg);
    font-family: 'Montserrat', sans-serif;
}

button {
    background-color: #0075FF; 
    color: white;
    padding: 12px;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 100px;
    border: 0px;
    font-size: 20px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    border: 5px;
    border-color: white;
}

button:hover {
    background-color: #1f87ff;
    color: white;
}

h1 {
    margin-top: -45px;
}

#ivs {
    margin: 20px;
}

.ivs4 {
    margin-left: 35px;
    text-align: left;
}

#ivs2 {
    margin-top: -10px;
    white-space: wrap;
}

#ivs3 {
    margin-top: -10px;
}